/*
 * Author: Nathan Kromer
 * URL: http://nathankromer.com
 *
 * Project Name: Pacific Fir
 * Version: 1.3
 */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Volkhov:400italic);


body {
  	background-color: #ffffff;
  	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #555;
	   margin: 0;
	   padding:0;
	

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

/* Titles */
h1, h2, h3, h4, h6, z {
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333;
}

h1 {
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

h5 {
	font-family: 'Volkhov', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size:40px;
	color:#bba559;
}

h6 {
  	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #555;
	margin-top:30px;
	margin-bottom:35px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 25px;
	font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #333;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
	min-height: 70px;
	padding-top: -5px;
	padding-bottom:5px;
}

.navbar-brand {
	color:white;
	padding-top:15px;
}

.navbar-default .navbar-nav > li > a {
	color: #5b5b5b;
		padding-top:30px;
		font-family:'Lato', sans-serif;
	    font-size: 15px;
		font-family: 'Lato', sans-serif;
	    font-weight: 400;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #00b3fe;
	background-color: transparent;
}

.navbar-default {
	background-color: rgba(240,240,240,0.7);
	border-color: transparent;
}

.dropdown-menu {
	background: #384452;
}

.dropdown-menu > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

.btn-theme {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
}

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
	color: #ffffff;
	background-color: #222222;
	border-color: #ffffff;
}
.dmbutton {
	background:rgba(0, 0, 0, 0);
	border: 1px solid #ffffff;
	color: #ffffff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding-top: 1.025rem;
	padding-right: 2.25rem;
	letter-spacing:0.85px;
	padding-bottom: 1.0875rem;
	padding-left: 2.25rem;
	font-size: 1.55rem;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	-webkit-appearance: none;
	font-weight: normal !important;
}



/*  Black Buttons */
.button2 {
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 20px;
	color: #000000;
	outline:#000000;
	background: #F0F0F0;
	-webkit-border-radius: 1px;
			border-radius: 1px;
	margin-top: 25px;
}
.button2.outline,
.icon2.outline {
	color: #000000;
	background: none;
	border: 4px solid #000000;
}
a.button2:hover {
	text-decoration: none;
	color: #ffffff;
	background: #000000;
}

/* Buttons */
.button {
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 20px;
	color: #ffffff;
	outline:#ffffff;
	background: #1a1a1a;
	-webkit-border-radius: 1px;
			border-radius: 1px;
	margin-top: 25px;
}
.button.outline,
.icon.outline {
	color: #ffffff;
	background: none;
	border: 4px solid #ffffff;
}
a.button:hover {
	text-decoration: none;
	color: #000000;
	background: #ffffff;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.mt2 {
	margin-bottom: 10px;
}

.mt3 {
	margin-top: 10px;
	margin-bottom:10px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;
}

.pt2 {
	padding-bottom: 30px;
}


#backgroundimage{
	background:url(../img/bg01.jpg) no-repeat  rgba(0, 0, 0, 0);
	min-height:100vh;
	position:relative;
	background-position:center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg {
	height:100%;
	position:absolute;
	top:0;
	width:100%;
	background: url(../img/bg01.jpg);
}

/* +++++ WRAP SECTIONS +++++ */

#ww{
	background-color:#f0f0f0;
	padding-top:60px;
	padding-bottom:30px;
}

#ww p {
	margin-bottom:-10px;
}

#work h2 {
	padding-top:20px;
	padding-bottom:10px;
}

#work p {
	font-size:17px;
}

#portfolio p {
	padding-top:5px;
	padding-bottom:80px;
}


#g p {
	padding-top:15px;
	font-size:22px;
}

#g {
	background: #f0f0f0;
	padding-top: 15px;
	padding-bottom: 35px;
	text-align: center;
}

#lt {
	background-color: #333333;
	padding-top:50px;
	padding-bottom: 80px; 
}

#about {
	padding-top: 60px;
	padding-bottom: 30px;
	background-color: #ffffff;
}

#about p {
	font-size:23px;
}

#call-to-action {
	padding-top:60px;
	padding-bottom:50px;
	background-color:#333333;
}


#social {
	background-color: #f0f0f0;
	padding-top:45px;
	padding-bottom:45px;
	text-align: center;

}

#social a {
	color:#999999;
}

#social h3 {
	font-size:21px;
}

#social a:hover{
	color:#222;
}

#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 10px; 
}

#footer img{
	padding-bottom:15px;
}

#footer p {
	color: white;
	text-align:center;
	font-size:15px;
}

#footer h4 {
	color: white;
	text-align:center;
	padding-bottom: 10px;
	font-size:25px;
}


/* +++++ Color Wraps / Blog Page +++++ */

#grey {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

#white {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ffffff;
}



/* Blog Date*/
bd {
	font-size: 12px;
	text-transform: uppercase;
	color: #d2d2d2;
	font-weight: 700;
}

/* Blog Author*/
ba {
	font-size: 12px;
	text-transform: uppercase;
}

/* Blog Quote */
.bq {
	font-size: 22px;
	padding-top: 30px;
}

/* Blog Tags */
bt {
	font-size: 12px;
}

/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
.zoom { 
    display:block; 
    position:relative; 
    overflow:hidden; 
    background:transparent url(../img/loader.gif) no-repeat center;
}

    .zoom img { display:none }

        .zoomOverlay {
            position:absolute;
            top:0; left:0;
            bottom:0; right:0;
            display:none;
            background-image:url(../img/zoom.png);
            background-repeat:no-repeat;
            background-position:center;
        }

.zoom2 {
	opacity: 1;
}

.zoom2:hover {
	opacity: 0.5;
}


/* glyphicon Configuration */

.glyphicon {
	font-size: 40px;
	color: #1abc9c;
}